<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.basic.dao.DidaHotelPolicyDao">
    <insert id="saveBatch" parameterType="com.example.basic.entity.DidaHotelPolicy">
        insert into dida_hotel_policy (hotel_id, checkin_from, checkout_to, important_notice, description_en,
        extra_info_list_en)
        values
        <foreach collection="list" separator="," item="item">
            (#{item.hotelId}, #{item.checkinFrom}, #{item.checkoutTo}, #{item.importantNotice}, #{item.descriptionEn},
            #{item.extraInfoListEn})
        </foreach>
    </insert>
</mapper>