<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.basic.dao.DidaHotelFacilitiesDao">
    <insert id="saveBatch" parameterType="com.example.basic.entity.DidaHotelFacilities">
        insert into dida_hotel_facilities (hotel_id, `type`, description_en, `value`)
        values
        <foreach collection="list" separator="," item="item">
            (#{item.hotelId}, #{item.type}, #{item.descriptionEn}, #{item.value})
        </foreach>
    </insert>
</mapper>