<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.basic.dao.DidaHotelRoomDao">
    <insert id="saveBatch" parameterType="com.example.basic.entity.DidaHotelRoom">
        insert into dida_hotel_room (hotel_id, room_id, name_en, has_wifi, has_window, max_occupancy, `size`, floor)
        values
        <foreach collection="list" separator="," item="item">
            (#{item.hotelId}, #{item.roomId}, #{item.nameEn}, #{item.hasWifi}, #{item.hasWindow},
             #{item.maxOccupancy}, #{item.size}, #{item.floor})
        </foreach>
    </insert>
</mapper>