<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.basic.dao.ExpediaRoomsImagesDao">
    <insert id="saveBatch" parameterType="com.example.basic.entity.ExpediaRoomsImages">
        insert into expedia_rooms_images (hotel_id, room_id, hero_image, group_en, `group`, category_id, category_en,
        caption, small_size_url, large_size_url)
        values
        <foreach collection="insertList" separator="," item="item">
            (#{item.hotelId},#{item.roomId},#{item.heroImage},#{item.groupEn},#{item.group},
            #{item.categoryId},#{item.categoryEn},#{item.caption},#{item.smallSizeUrl},#{item.largeSizeUrl})
        </foreach>
    </insert>

    <select id="selectListByHotelIds" parameterType="java.util.List" resultType="com.example.basic.entity.ExpediaRoomsImages">
        SELECT id, hotel_id, room_id
        FROM `expedia_rooms_images`
        WHERE `hotel_id` IN
        <foreach collection="propertyIds" item="hotelId" open="(" separator="," close=")">
            #{hotelId}
        </foreach>
    </select>

    <update id="update" parameterType="com.example.basic.entity.ExpediaRoomsImages">
        UPDATE expedia_rooms_images
        <set>
            <if test="groupEn != null"> group_en = #{groupEn},</if>
            <if test="group != null"> `group` = #{group},</if>
            <if test="caption != null"> caption = #{caption},</if>
        </set>
        WHERE hotel_id = #{hotelId} and `room_id` = #{roomId} AND `category_id` = #{categoryId}
    </update>
</mapper>