<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.basic.dao.ExpediaStatisticsDao">
    <insert id="saveBatch" parameterType="com.example.basic.entity.ExpediaStatistics">
        insert into expedia_statistics (id, hotel_id, statistics_id, statistics_name_en, statistics_name, statistics_value)
        values
        <foreach collection="insertList" separator="," item="item">
            (#{item.id},#{item.hotelId},#{item.statisticsId},#{item.statisticsNameEn},#{item.statisticsName},#{item.statisticsValue})
        </foreach>
    </insert>

    <select id="selectListByHotelIds" parameterType="java.util.List" resultType="com.example.basic.entity.ExpediaStatistics">
        SELECT id, hotel_id
        FROM `expedia_statistics`
        WHERE `hotel_id` IN
        <foreach collection="propertyIds" item="hotelId" open="(" separator="," close=")">
            #{hotelId}
        </foreach>
    </select>

    <update id="update" parameterType="com.example.basic.entity.ExpediaStatistics">
        UPDATE `expedia_statistics`
        <set>
        <if test="statisticsName != null"> statistics_name = #{statisticsName},</if>
        </set>
        WHERE hotel_id = #{hotelId} and `statistics_id` = #{statisticsId}
    </update>
</mapper>