<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.basic.dao.ExpediaRegionDao">

    <insert id="saveBatch" parameterType="com.example.basic.entity.ExpediaRegion">
        insert into expedia_region (region_id, type, name, name_full, name_en, name_full_en, country_code,
        country_subdivision_code, parent_id, parent_path, center_longitude, center_latitude,
        categories, tags, ancestors, descendants)
        values
        <foreach collection="insertList" separator="," item="item">
            (#{item.regionId}, #{item.type}, #{item.name}, #{item.nameFull}, #{item.nameEn}, #{item.nameFullEn},
             #{item.countryCode}, #{item.countrySubdivisionCode}, #{item.parentId}, #{item.parentPath},
             #{item.centerLongitude}, #{item.centerLatitude}, #{item.categories}, #{item.tags}, #{item.ancestors},
             #{item.descendants})
        </foreach>
    </insert>


    <update id="update" parameterType="com.example.basic.entity.ExpediaRegion">
        UPDATE `expedia_region`
        SET `name_en` = #{nameEn}, `name_full_en` = #{nameFullEn}
        WHERE `region_id` = #{regionId};
    </update>

    <select id="selectAll" resultType="com.example.basic.entity.ExpediaRegion">
        SELECT *
        FROM `expedia_region`
    </select>

    <select id="selectCategories" resultType="com.example.basic.entity.ExpediaRegion">
        SELECT distinct categories
        FROM `expedia_region`
    </select>

    <select id="selectTags" resultType="com.example.basic.entity.ExpediaRegion">
        SELECT distinct tags
        FROM `expedia_region`
    </select>

    <select id="selectUsaList" resultType="com.example.basic.entity.ExpediaRegion">
        SELECT *
        FROM `expedia_region`
        WHERE type = 'province_state' AND `country_code` = 'US'
    </select>

    <select id="selectAllProvinces" resultType="com.example.basic.entity.ExpediaRegion">
        SELECT *
        FROM `expedia_region`
        WHERE type = 'province_state'
    </select>

    <select id="selectListByCountry" parameterType="java.lang.String" resultType="com.example.basic.entity.ExpediaRegion">
        SELECT *
        FROM `expedia_region`
        WHERE `country_code` = 'US'
    </select>

    <update id="updateParentPath">
        UPDATE `expedia_region`
        SET `categories` = #{provincePath}
        WHERE `id` IN
        <foreach collection="provinceIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="updatePath" parameterType="com.example.basic.entity.ExpediaRegion">
        UPDATE `expedia_region`
        SET `parent_path` = #{parentPath}, `parent_id` = #{parentId}
        WHERE `id` = #{id}
    </update>
</mapper>