<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.basic.dao.ExpediaRegionsDao">

    <insert id="saveBatch" parameterType="com.example.basic.entity.ExpediaRegions">
        insert into expedia_regions (region_id, type, name_en, full_name_en, country_code, real_exist)
        values
        <foreach collection="insertList" separator="," item="item">
            (#{item.regionId}, #{item.type}, #{item.nameEn}, #{item.fullNameEn}, #{item.countryCode}, #{item.realExist})
        </foreach>
    </insert>

    <insert id="saveFullBatch" parameterType="com.example.basic.entity.ExpediaRegions">
        insert into expedia_regions (region_id, `type`, name_en, full_name_en, `name`, full_name, continent, country_code,
        country_subdivision_code, parent_id, parent_path, center_longitude, center_latitude,
        categories, tags, ancestors, descendants, has_en, has_zh)
        values
        <foreach collection="insertList" separator="," item="item">
            (#{item.regionId}, #{item.type}, #{item.nameEn}, #{item.fullNameEn}, #{item.name}, #{item.fullName},
             #{item.continent}, #{item.countryCode}
            , #{item.countrySubdivisionCode}, #{item.parentId}, #{item.parentPath}, #{item.centerLongitude}, #{item.centerLatitude},
            #{item.categories}, #{item.tags}, #{item.ancestors}, #{item.descendants}, #{item.hasEn}, #{item.hasZh})
        </foreach>
    </insert>
    
    <select id="selectRegions" resultType="com.example.basic.entity.ExpediaRegions">
        SELECT `id`, `region_id`
        FROM `expedia_regions`
        WHERE `has_zh` IS NULL AND center_longitude is NULL
    </select>

    <update id="update" parameterType="com.example.basic.entity.ExpediaRegions">
        UPDATE `expedia_regions`
        <set>
            <if test="name != null"> name = #{name},</if>
            <if test="fullName != null"> full_name = #{fullName},</if>
            <if test="countrySubdivisionCode != null"> country_subdivision_code = #{countrySubdivisionCode},</if>
            <if test="parentId != null"> parent_id = #{parentId},</if>
            <if test="parentPath != null"> parent_path = #{parentPath},</if>
            <if test="centerLongitude != null"> center_longitude = #{centerLongitude},</if>
            <if test="centerLatitude != null"> center_latitude = #{centerLatitude},</if>
            <if test="categories != null"> categories = #{categories},</if>
            <if test="tags != null"> tags = #{tags},</if>
            <if test="ancestors != null"> ancestors = #{ancestors},</if>
            <if test="descendants != null"> descendants = #{descendants},</if>
            <if test="hasZh != null"> has_zh = #{hasZh},</if>
        </set>
        WHERE `id` = #{id}
    </update>

    <select id="selectAllAncestors" resultType="com.example.basic.entity.ExpediaRegions">
        select `id`, `ancestors`
        from expedia_regions
        where continent is NULL
    </select>

    <update id="updateContinent">
        UPDATE `expedia_regions`
        SET `continent` = #{continentId}
        WHERE `id` = #{id}
    </update>

    <select id="selectAll" resultType="com.example.basic.entity.ExpediaRegions">
        SELECT *
        FROM expedia_regions
        WHERE country_code = 'AF'
    </select>

    <select id="selectListByCountryCode" resultType="com.example.basic.entity.ExpediaRegions">
        SELECT *
        FROM expedia_regions
        WHERE country_code = #{countryCode}
    </select>

    <update id="updateSomeData" parameterType="com.example.basic.entity.ExpediaRegions">
        UPDATE `expedia_regions`
        <set>
            <if test="continent != null"> continent = #{continent},</if>
            <if test="parentId != null"> parent_id = #{parentId},</if>
            <if test="parentPath != null"> parent_path = #{parentPath},</if>
        </set>
        WHERE `id` = #{id}
    </update>

    <update id="updateHasZh" parameterType="java.util.List">
        UPDATE `expedia_regions`
        SET `has_zh` = 1
        WHERE region_id IN
        <foreach collection="regionIds" item="regionId" open="(" separator="," close=")">
            #{regionId}
        </foreach>
    </update>

    <update id="updateHasEn" parameterType="java.util.List">
        UPDATE `expedia_regions`
        SET `has_en` = 1
        WHERE region_id IN
        <foreach collection="regionIds" item="regionId" open="(" separator="," close=")">
            #{regionId}
        </foreach>
    </update>

    <select id="selectAllRegionIds" resultType="java.lang.String">
        SELECT `region_id`
        FROM `expedia_regions`
    </select>

    <select id="selectAllNeedStatistics" resultType="com.example.basic.entity.ExpediaRegions">
        SELECT `id`, `region_id`
        FROM `expedia_regions`
        WHERE has_property IS NULL
    </select>
    
    <update id="updateStatistics" parameterType="com.example.basic.domain.eps.RegionPropertyResult">
        UPDATE `expedia_regions`
        SET `has_property` = #{hasProperty}, `property_count` = #{propertyCount}
        WHERE id = #{id}
    </update>

    <select id="selectAllCity" resultType="com.example.basic.entity.ExpediaRegions">
        SELECT id, region_id, type, country_code, name_en
        FROM `expedia_regions`
        WHERE `type` = 'city' and `property_count` is not null
    </select>
</mapper>