<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.basic.dao.ExpediaCountryDao">

    <insert id="saveBatch" parameterType="com.example.basic.entity.ExpediaCountry">
        insert into expedia_country (expedia_id, name, name_en)
        values
        <foreach collection="insertList" separator="," item="item">
            (#{item.expediaId}, #{item.name}, #{item.nameEn})
        </foreach>
    </insert>
</mapper>