<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.basic.dao.ExpediaSpokenLanguagesDao">
    <select id="selectAll" resultType="com.example.basic.entity.ExpediaSpokenLanguages">
        SELECT *
        FROM `expedia_spoken_languages`
    </select>

    <insert id="saveBatch" parameterType="com.example.basic.entity.ExpediaSpokenLanguages">
        insert into expedia_spoken_languages (id, name, create_time)
        values
        <foreach collection="insertList" separator="," item="item">
            (#{item.id}, #{item.name}, #{item.createTime})
        </foreach>
    </insert>
</mapper>