<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.basic.dao.ExpediaInfoDao">
    <insert id="saveBatch" parameterType="com.example.basic.entity.ExpediaInfo">
        insert into expedia_info (hotel_id, name_en, address_en, country_code, province_code, province_name_en,city_en,
        zip_code, star_rating, guest, score,longitude, latitude, telephone, fax, category_id, category_en,
        expedia_collect,property_collect, rank, chain_id, chain_name_en, brand_id, brand_name_en,added_time,
        updated_time, airport_nearby, supply_source, create_time)
        values
        <foreach collection="insertList" separator="," item="item">
            (#{item.hotelId}, #{item.nameEn}, #{item.addressEn}, #{item.countryCode}, #{item.provinceCode},
            #{item.provinceNameEn}, #{item.cityEn},#{item.zipCode},#{item.starRating},#{item.guest} ,#{item.score},
            #{item.longitude}, #{item.latitude}, #{item.telephone}, #{item.fax}, #{item.categoryId},#{item.categoryEn},
            #{item.expediaCollect}, #{item.propertyCollect}, #{item.rank}, #{item.chainId}, #{item.chainNameEn},
            #{item.brandId}, #{item.brandNameEn},#{item.addedTime}, #{item.updatedTime}, #{item.airportNearby},
            #{item.supplySource}, #{item.createTime})
        </foreach>
    </insert>

    <select id="selectNeedUpdate" resultType="java.lang.String">
        SELECT `hotel_id`
        FROM `expedia_info`
        WHERE `update_time` is null
    </select>

    <update id="update" parameterType="com.example.basic.entity.ExpediaInfo">
        UPDATE expedia_info
        set
        <if test="nameEn != null">name_en = #{nameEn},</if>
        <if test="name != null">name = #{name},</if>
        <if test="addressEn != null">address_en = #{addressEn},</if>
        <if test="address != null">address = #{address},</if>
        <if test="countryCode != null">country_code = #{countryCode},</if>
        <if test="provinceCode != null">province_code = #{provinceCode},</if>
        <if test="provinceNameEn != null">province_name_en = #{provinceNameEn},</if>
        <if test="provinceName != null">province_name = #{provinceName},</if>
        <if test="cityId != null">city_id = #{cityId},</if>
        <if test="cityEn != null">city_en = #{cityEn},</if>
        <if test="city != null">city = #{city},</if>
        <if test="wstCityId != null">wst_city_id = #{wstCityId},</if>
        <if test="zipCode != null">zip_code = #{zipCode},</if>
        <if test="starRating != null">star_rating = #{starRating},</if>
        <if test="guest != null">guest = #{guest},</if>
        <if test="score != null">score = #{score},</if>
        <if test="longitude != null">longitude = #{longitude},</if>
        <if test="latitude != null">latitude = #{latitude},</if>
        <if test="telephone != null">telephone = #{telephone},</if>
        <if test="fax != null">fax = #{fax},</if>
        <if test="categoryId != null">category_id = #{categoryId},</if>
        <if test="categoryEn != null">category_en = #{categoryEn},</if>
        <if test="category != null">category = #{category},</if>
        <if test="expediaCollect != null">expedia_collect = #{expediaCollect},</if>
        <if test="propertyCollect != null">property_collect = #{propertyCollect},</if>
        <if test="rank != null">rank = #{rank},</if>
        <if test="chainId != null">chain_id = #{chainId},</if>
        <if test="chainNameEn != null">chain_name_en = #{chainNameEn},</if>
        <if test="brandId != null">brand_id = #{brandId},</if>
        <if test="brandNameEn != null">brand_name_en = #{brandNameEn},</if>
        <if test="themes != null">themes = #{themes},</if>
        <if test="heroImage != null">hero_image = #{heroImage},</if>
        <if test="addedTime!= null or addedTime != null">added_time = #{addedTime},</if>
        <if test="updatedTime!= null or updatedTime != null">updated_time = #{updatedTime},</if>
        <if test="airportNearby != null">airport_nearby = #{airportNearby},</if>
        <if test="supplySource != null">supply_source = #{supplySource},</if>
        <if test="createTime!= null or createTime != null">create_time = #{createTime},</if>
        update_time = #{updateTime}
        WHERE hotel_id = #{hotelId}
    </update>
</mapper>