<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.basic.dao.ExpediaAttributesDao">
    <insert id="saveBatch" parameterType="com.example.basic.entity.ExpediaAttributes">
        insert into expedia_attributes (hotel_id, general_id, general_name_en, general_name, general_value)
        values
        <foreach collection="insertList" separator="," item="item">
            (#{item.hotelId},#{item.generalId},#{item.generalNameEn},#{item.generalName},#{item.generalValue})
        </foreach>
    </insert>

    <select id="selectListByHotelIds" parameterType="java.util.List" resultType="com.example.basic.entity.ExpediaAttributes">
        SELECT id, hotel_id
        FROM `expedia_attributes`
        WHERE `hotel_id` IN
        <foreach collection="propertyIds" item="hotelId" open="(" separator="," close=")">
            #{hotelId}
        </foreach>
    </select>

    <update id="update" parameterType="com.example.basic.entity.ExpediaAttributes">
        UPDATE `expedia_attributes`
        <set>
        <if test="generalName != null"> general_name = #{generalName},</if>
        </set>
        WHERE hotel_id = #{hotelId} AND `general_id` = #{generalId}
    </update>
</mapper>