<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.basic.dao.HsjlCityDao">
    <select id="selectCityList" resultType="com.example.basic.entity.HsjlCity">
        select *
        from hsjl_city
    </select>

    <insert id="saveBatch" parameterType="com.example.basic.entity.HsjlCity">
        insert into hsjl_city (city_code, city_name, city_name_en, province_code, province_name, province_name_en)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.cityCode}, #{item.cityName}, #{item.cityNameEn}, #{item.provinceCode}, #{item.provinceName}, #{item.provinceNameEn})
        </foreach>
    </insert>
</mapper>