<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.basic.dao.JdJdbHsjlDao">

    <select id="selectIds" resultType="java.lang.String">
        select `jdid`
        from jd_jdb_hsjl
    </select>

    <update id="updateBatch" parameterType="java.lang.Integer">
        UPDATE `jd_jdb_hsjl`
        SET `ysbs` = 1
        WHERE `jdid` IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>