<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.basic.dao.JdJdbDaolvDao">
    <select id="selectHavePrice" resultType="com.example.basic.entity.JdJdbDaolv">

    </select>

    <select id="selectHotelIdList"  resultType="java.lang.Integer">
        SELECT `id`
        FROM `jd_jdb_daolv`
    </select>

    <select id="selectListByIds" parameterType="java.util.List" resultType="com.example.basic.entity.JdJdbDaolv">
        SELECT `id`,`name`,`longitude`,`latitude`
        FROM `jd_jdb_daolv`
        WHERE `id` IN
        <foreach collection="daolvHotelIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="selectListByCountry" parameterType="java.lang.String" resultType="com.example.basic.entity.JdJdbDaolv">
        SELECT id,name,address,country_code,longitude,latitude,telephone
        FROM `jd_jdb_daolv`
        WHERE `country_code` = #{countryCode}
    </select>

    <select id="selectCountryCodes" resultType="java.lang.String">
        SELECT distinct `country_code`
        FROM `jd_jdb_daolv`
    </select>

    <select id="selectEffectIds" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT id
        FROM `jd_jdb_daolv`
        WHERE id IN
        <foreach collection="daolvHotelIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
    
    <select id="selectById" parameterType="java.lang.Integer" resultType="com.example.basic.entity.JdJdbDaolv">
        SELECT *
        FROM `jd_jdb_daolv`
        WHERE `id` = #{daolvHotelId}
    </select>
    <select id="selectIds" resultType="java.lang.String">
        SELECT `id`
        FROM `jd_jdb_daolv`
    </select>

    <select id="selectListByIdsV2" parameterType="java.lang.Integer" resultType="com.example.basic.entity.JdJdbDaolv">
        SELECT id, `name`, address, country_code, city_name, longitude, latitude
        FROM `jd_jdb_daolv`
        where `id` IN
        <foreach collection="didaIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="selectInfoByExpediaId" parameterType="java.lang.String" resultType="com.example.basic.entity.JdJdbDaolv">
        SELECT id, `name`, address, country_code, city_name, longitude, latitude
        FROM `jd_jdb_daolv`
        where `id` = (SELECT daolv_hotel_id
                      from expedia_daolv_match_lab
                      WHERE expedia_hotel_Id = #{propertyId})
    </select>
</mapper>