<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.basic.dao.JdJdbGjDao">
    <select id="selectAll" resultType="com.example.basic.entity.JdJdbGj">
        SELECT *
        FROM `jd_jdb_gj`
    </select>

    <select id="selectInfo" parameterType="java.lang.Integer" resultType="com.example.basic.entity.JdJdbGj">
        SELECT jjg.*
        FROM `jd_jdb_gj`jjg
        LEFT JOIN `zh_jd_jdb_gj_mapping` zjjgm ON jjg.id = zjjgm.local_id
        WHERE zjjgm.`plat_id` = #{id}
    </select>

    <select id="selectInfoByIds" parameterType="java.util.List" resultType="com.example.basic.entity.JdJdbGj">
        SELECT jjg.*, zjjgm.`plat_id`
        FROM `jd_jdb_gj`jjg
                 LEFT JOIN `zh_jd_jdb_gj_mapping` zjjgm ON jjg.id = zjjgm.local_id
        WHERE zjjgm.`plat_id` IN
              <foreach collection="daolvHotelIds" item="id" open="(" separator="," close=")">
                  #{id}
              </foreach>
    </select>

    <select id="selectPartByCountryAndCityId" resultType="com.example.basic.entity.JdJdbGj">
        SELECT id,name,name_cn,address,city_id,city_name_cn,
               country_code,country_name_cn,
               star_rating,longitude,latitude,telephone
        FROM `jd_jdb_gj`
        WHERE `country_code` = #{countryCode}
        <if test="cityId != null">
            AND `city_id` = #{cityId}
        </if>
    </select>

    <select id="selectAllIds" resultType="java.lang.Long">
        SELECT id
        FROM `jd_jdb_gj`
    </select>
</mapper>