<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.basic.dao.MeituanImagesDao">
    <select id="selectLiatByIds" parameterType="java.util.Set" resultType="com.example.basic.entity.MeituanImages">
        SELECT *
        FROM `meituan_images`
        WHERE mt_id IN
        <foreach collection="mtIds" item="mtId" open="(" separator="," close=")">
            #{mtId}
        </foreach>
    </select>
</mapper>