<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.basic.dao.SupplierDongChengDao">
    <insert id="saveBatch" parameterType="com.example.basic.entity.SupplierDongCheng">
        insert into supplier_dongcheng (hotel_id, city_id, city_name, province_name, jdmc, jdmc_en, jddz, jddh, pic_url,
        lon_wx,lat_wx, lon, lat, breakfast, brand_name, description, create_time)
        values
        <foreach collection="insertList" item="item" separator=",">
            (#{item.hotelId}, #{item.cityId}, #{item.cityName}, #{item.provinceName}, #{item.jdmc},
            #{item.jdmcEn},#{item.jddz}, #{item.jddh}, #{item.picUrl}, #{item.lonWx},#{item.latWx}, #{item.lon},
            #{item.lat}, #{item.breakfast}, #{item.brandName}, #{item.description},#{item.createTime})
        </foreach>
    </insert>

    <select id="selectAllHotelIds" resultType="java.lang.String">
        SELECT `hotel_id`
        FROM `supplier_dongcheng`
    </select>

    <select id="selectDongchengList" parameterType="java.lang.String" resultType="com.example.basic.domain.HotelExport">
        SELECT `hotel_id`, `city_name`, `province_name`, `jdmc` as hotel_name, `jddz` as address, `jddh` as tel,`lon` as longitude, `lat` as latitude
        FROM `supplier_dongcheng`
        WHERE `hotel_id` IN 
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="selectHuazhuList" parameterType="java.lang.String" resultType="com.example.basic.domain.HotelExport">
        SELECT `jdid` as hotel_id, `jdmc` as hotel_name, `jddz` as address, `jddh` as tel,`lon_wgs` as longitude, `lat_wgs` as latitude
        FROM `jd_jdb_huazhu`
        WHERE `jdid` IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="selectJinjiangList" parameterType="java.lang.String" resultType="com.example.basic.domain.HotelExport">
        SELECT `jdid` as hotel_id, `jdmc` as hotel_name, `jddz` as address, `jddh` as tel,`lon_wgs` as longitude, `lat_wgs` as latitude
        FROM `jd_jdb_jinjiang`
        WHERE `jdid` IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="selectElongList" parameterType="java.lang.String" resultType="com.example.basic.domain.HotelExport">
        SELECT `id` as hotel_id,`city_name`, `jdmc` as hotel_name, `jddz` as address, `jddh` as tel,`lon_baidu` as longitude, `lat_baidu` as latitude
        FROM `jd_jdb_elong`
        WHERE `id` IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>