<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.basic.dao.WebbedsDaolvMatchLabCountDao">
    <insert id="insert" parameterType="com.example.basic.entity.WebbedsDaolvMatchLabCount">
        insert into webbeds_daolv_match_lab_count
            (country_code, webbeds_total, webbeds_need_match_count,
             webbeds_score_count,webbeds_not_score_count,webbeds_unique_score_count,
             webbeds_multi_score_count, daolv_total, daolv_matched_count, `time`)
        values (#{countryCode},#{webbedsTotal},#{webbedsNeedMatchCount},
                #{webbedsScoreCount},#{webbedsNotScoreCount},#{webbedsUniqueScoreCount},
                #{webbedsMultiScoreCount},#{daolvTotal},#{daolvMatchedCount},#{time})
    </insert>

    <select id="selectDownCountry" resultType="java.lang.String">
        SELECT country_code
        FROM `webbeds_daolv_match_lab_count`
    </select>
</mapper>