<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.basic.dao.WebbedsNotMatchDao">
    <insert id="saveBatch" parameterType="java.lang.Integer">
        insert into webbeds_not_match
        (dotw_hotel_code)
        values
        <foreach collection="zeroScores" item="item" separator=",">
            (#{item})
        </foreach>
    </insert>
</mapper>