<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.basic.dao.WstHotelGlobalCityDao">

    <select id="selectAll" resultType="com.example.basic.entity.WstHotelGlobalCity">
        SELECT *
        FROM `wst_hotel_global_city`
        where eps_city_id is null
    </select>

    <update id="update" parameterType="com.example.basic.domain.expedia.CityMatchResult">
        UPDATE `wst_hotel_global_city`
        SET `eps_city_id` = #{epsCityId},
            `eps_city_type` = #{epsCityType},
            `eps_name` = #{epsName},
            `eps_full_name` = #{epsFullName},
            `eps_name_en` = #{epsNameEn},
            `eps_full_name_en` = #{epsFullNameEn},
            `eps_country_code` = #{epsCountryCode},
            `center_longitude` = #{centerLongitude},
            `center_latitude` = #{centerLatitude}
            WHERE `city_id` = #{cityId}
    </update>

    <select id="selectListByCountryCode" parameterType="java.lang.String" resultType="com.example.basic.entity.WstHotelGlobalCity">
        SELECT *
        FROM `wst_hotel_global_city`
        where country_code = #{countryCode} and eps_city_id is null
    </select>

    <select id="selectCountByCountryCode" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT count(1) cc
        FROM `wst_hotel_global_city`
        where country_code = #{countryCode}
    </select>
</mapper>