<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.basic.dao.WstHotelFacilitiesDao">
    <insert id="saveBatch" parameterType="java.util.List">
        insert into `wst_hotel_facilities` (hotel_id, category, facility_id, facility_name, facility_value, create_name,
        create_date)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.hotelId},#{item.category},#{item.facilityId},#{item.facilityName},#{item.facilityValue}
            ,#{item.createName},#{item.createDate})
        </foreach>
    </insert>
</mapper>