<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.basic.dao.ZhJdJdbGjMappingDao">

    <select id="selectAll" resultType="com.example.basic.entity.ZhJdJdbGjMapping">
        SELECT `local_id`,`plat_id`
        FROM `zh_jd_jdb_gj_mapping`
    </select>

    <insert id="insertBatch" parameterType="com.example.basic.entity.ZhJdJdbGjMapping">
        insert into `zh_jd_jdb_gj_mapping`
        (`local_id`,`plat_id`,`plat`)
        values
        <foreach collection="insertList" item="item" separator=",">
            (#{item.localId}, #{item.platId}, #{item.plat})
        </foreach>
    </insert>

    <select id="selectMatchCount" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT count(1)
        FROM zh_jd_jdb_gj_mapping
        WHERE plat = '2000071' AND plat_id IN
        <foreach collection="hotelIds" open="(" close=")" item="id" separator=",">
            #{id}
        </foreach>
    </select>

    <select id="selectWebbedsData" resultType="com.example.basic.entity.ZhJdJdbGjMapping">
        SELECT *
        FROM `zh_jd_jdb_gj_mapping`
        WHERE plat = '2000071'
    </select>

    <select id="selectWebbeds" resultType="com.example.basic.domain.WebbedsMappingExport">
        SELECT zjjgm.`plat_id` as webbedsHotelId,
               jjg.`city_id`,
               jjg.`city_name`,
               jjg.`name`,
               jjg.`address`
        FROM `zh_jd_jdb_gj_mapping` zjjgm
                 LEFT JOIN `jd_jdb_gj` jjg ON zjjgm.`local_id` = jjg.`id`
        WHERE zjjgm.`plat` = '2000071'
    </select>

    <select id="selectDaolvOrWebbedsMapping" resultType="com.example.basic.entity.ZhJdJdbGjMapping">
        SELECT *
        FROM `zh_jd_jdb_gj_mapping`
        WHERE (plat = '2000071' and plat_id = #{webbedsHotelId}) OR (plat = '2000069' AND plat_id = #{daolvHotelId})
    </select>
</mapper>