<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.basic.dao.ZhJdJdbMappingDao">
    <select id="selectLocalIds" resultType="com.example.basic.entity.ZhJdJdbMapping">
        select local_id, id
        from `zh_jd_jdb_mapping`
    </select>

    <delete id="deleteByLocalId" parameterType="java.lang.String">
        DELETE FROM `zh_jd_jdb_mapping`
        WHERE `local_id` = #{localId}
    </delete>
</mapper>